@model CreditManagement.Models.ChuyenKhoan
@{
    Layout = null;
    var lstHinhThucChuyen = new List<SelectListItem>
    {
          new SelectListItem { Text = "Cùng ngân hàng", Value= "0" },
          new SelectListItem { Text = "Liên ngân hàng", Value= "1" }
    };
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Banking Management</title>
    <link href="~/Script/css/giaodich.css" rel="stylesheet" />
    <link href="~/Script/css/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="~/Script/js/jquery-1.12.4.js"></script>
    <script src="~/Script/js/jquery-ui.js"></script>
    <script src="~/Script/js/giaodich.js"></script>


    <script>
        $(function () {
            $("#tabs").tabs();
        });
    </script>
</head>
<body>
    <div id="tabs" style="height: 590px">
        <ul>
            <li><a href="#tabs-1"><b style="font-family: initial;">Chi Tiết Giao Dịch</b></a></li>
            <li><a href="#tabs-2"><b style="font-family: initial;">Chuyển Tiền</b></a></li>
            <li><a href="#tabs-3"><b style="font-family: initial;">Rút Tiền</b></a></li>
        </ul>
        <div id="tabs-1">
            
        </div>
        <div id="tabs-2">
            <div class="divTable">
                <div class="divTableBody">
                    <div class="divTableRow">
                        <div class="divTableCell" style="text-align: right;">Mã tài khoản</div>
                        <div class="divTableCellCol2"></div>
                        <div class="divTableCell">
                            @Html.LabelFor(model => model.MaTK, new { style = " border-radius: 15px 50px 30px 5px;height: 25px;" })
                        </div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell" style="text-align: right;">Số dư tài khoản</div>
                        <div class="divTableCellCol2"></div>
                        <div class="divTableCell">
                            @Html.LabelFor(model => model.MaTK, new { style = " border-radius: 15px 50px 30px 5px;height: 25px;" })
                        </div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell" style="text-align: right;">Ngân hàng</div>
                        <div class="divTableCellCol2"></div>
                        <div class="divTableCell">
                            @Html.DropDownListFor(model => model.HinhThucCK, lstHinhThucChuyen, new { style = "width:200px; height: 25px;" })
                        </div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell" style="text-align: right;">Tài khoản đến</div>
                        <div class="divTableCellCol2"></div>
                        <div class="divTableCell">
                            @Html.TextBoxFor(model => model.MaTKDen, new { @maxlength = "10", @class = "txtCanInput" })
                        </div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell" style="text-align: right;">Số tiền</div>
                        <div class="divTableCellCol2"></div>
                        <div class="divTableCell">
                            @Html.TextBoxFor(model => model.SoTien, new { @maxlength = "10", @class = "txtCanInput" })
                        </div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell" style="text-align: right;">Phí giao dịch</div>
                        <div class="divTableCellCol2"></div>
                        <div class="divTableCell">
                            @Html.LabelFor(model => model.PhiGD, new { style = "height: 25px;" })
                        </div>
                    </div>
                    <div class="divTableRow" style="height: 50px">
                        <div class="divTableCell" style="text-align: right; ">Nội dung</div>
                        <div class="divTableCellCol2"></div>
                        <div class="divTableCell">
                            @Html.TextBoxFor(model => model.NoiDung, new { style = "width:350px; height: 50px; maxlength: 100", @class = "txtCanInput" })
                        </div>
                    </div>
                </div>

            </div>
            <div class="hot-container">
                <p>
                    <a href="#" class="btn btn-blue">Chuyển ngay</a>
                    <a href="#" class="btn btn-red">Hủy bỏ</a>
                </p>
            </div>
        </div>
        <div id="tabs-3">
            <div class="divTable">
                <div class="divTableBody">
                    <div class="divTableRow">
                        <div class="divTableCell" style="text-align: right;">Mã tài khoản</div>
                        <div class="divTableCellCol2"></div>
                        <div class="divTableCell">
                            @Html.LabelFor(model => model.MaTK, new { style = " border-radius: 15px 50px 30px 5px;height: 25px;" })
                        </div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell" style="text-align: right;">Số dư tài khoản</div>
                        <div class="divTableCellCol2"></div>
                        <div class="divTableCell">
                            @Html.LabelFor(model => model.MaTK, new { style = " border-radius: 15px 50px 30px 5px;height: 25px;" })
                        </div>
                    </div>

                    <div class="divTableRow">
                        <div class="divTableCell" style="text-align: right;">Số tiền</div>
                        <div class="divTableCellCol2"></div>
                        <div class="divTableCell">
                            @Html.TextBoxFor(model => model.SoTien, new { @maxlength = "10", @class = "txtCanInput" })
                        </div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell" style="text-align: right;">Phí giao dịch</div>
                        <div class="divTableCellCol2"></div>
                        <div class="divTableCell">
                            @Html.LabelFor(model => model.PhiGD, new { style = "height: 25px;" })
                        </div>
                    </div>
                   
                </div>

            </div>
            <div class="hot-container">
                <p>
                    <a href="#" class="btn btn-blue">rút tiền</a>
                    <a href="#" class="btn btn-red">Hủy bỏ</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>
